---
layout: default
---
<!-- begin c-hero -->
<div class="hero">
	<div class="container">
	  <div class="row">
		<div class="col col-6 col-t-12 last-item">
		  <div class="hero__content">
			<h1 class="hero__title">  Hello, I'm <strong>Tangerri</strong> </h1>
			<p class="hero__subtitle"> umm... </p>
			<!-- <div class="hero__social">
			  <span class="hero__social-title">Follow Me |</span>
			  {% include contact-link.html %}
			</div> -->
		  </div>
		</div>
		<div class="col col-6 col-t-12">
		  <div class="hero__image">
			<img src="gyuri-guri.github.io/images/tangerine tree.jpg" alt="">
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- end hero -->

<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Latest Posts</h4>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}
